@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --bg-color: rgb(11, 9, 9);
  --card-bg: hsl(0, 0%, 12%);
  --link-bg: hsl(0, 0%, 20%);
  --link-hover-bg: hsl(0, 0%, 27%);
  --accent-color: hsl(75, 94%, 57%);
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  background-color: var(--card-bg);
  border-radius: 6px;
  padding: 32px;
  max-width: 400px;
  text-align: center;
}

.infos-conteudo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px 10px;
}

p {
  font-size: 14px;
  margin: 10px 0;
}

h1 {
  font-size: 32px;
  margin-top: 20px;
}

h2 {
  font-size: 16px;
  color: var(--accent-color);
}

li>a {
  font-size: 14px;
  display: block;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px;
  color: var(--text-color);
  background-color: var(--link-bg);
  text-align: center;
}

li>a:hover {
  background-color: var(--link-hover-bg);
}

li + li {
  margin-top: 10px;
}

img {
  display: block;
  border-radius: 50%;
  width: 120px;
margin: auto;
}

footer {
  text-align: center;
  font-size: 12px;
}

footer a {
  color: var(--accent-color);
}
