@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: rgb(11, 9, 9);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  font-weight: 400;
}

h1,
h2,
h3 {
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 0.875rem;
  color: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

.links a {
  display: block;
  text-align: center;
}
img {
  display: block;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 50%;
}

.infos {
  margin: 15px;
}

.links {
  display: grid;
  margin: 20px;
  padding: 10px;
  justify-content: stretch;
}

.btn {
  display: block;
  background-color: hsl(0, 0%, 20%);
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
}

.btn:hover {
  outline: hsl(75, 94%, 57%) solid 2px;
}

.div-pai {
  display: block;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
  background-color: hsl(0, 0%, 12%);
  border-radius: 6px;
  width: 350px;
  margin: 100px 550px 100px 550px;
  padding: 20px;
}

footer{
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
}

footer a {
  color: hsl(75, 94%, 57%) ;
}


 